<h2>Course List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Code</th>
            <th>Release Date</th>
            <th>Rating</th>
        </tr>
    </thead>
    <thead>
        <tr *ngFor="let course of courses"> <!-- *ngFor="" itera sobre os elementos, no caso os cursos. Let representa uma var local -->
            <td>{{ course.image }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.price }}</td>
            <td>{{ course.code }}</td>
            <td>{{ course.releaseDate }}</td>
            <td>{{ course.rating }}</td>
        </tr>
    </thead>
    

</table>